header {
    background-color: var(--light-green);
    padding: 20px 0;
}

.btn-menu {
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 16pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-menu img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#user-button {
    border-radius: 50%;
    background-color: lightgray;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

#user-button img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}