<section id="modal">
    <div class="user-modal-background" id="modal-background-user" style="display: none" onclick="closeUserModal()"></div>
    <div class="user-modal" id="modal-user" style="display: none">
        <div class="user-modal-body">
            <ul class="user-modal-list">
                <li><a href="--{URL}--/admin/profile" class="user-modal-link"><img src="/static/img/user dummy.png" alt=""> <span>Perfil</span></a></li>
                <li><a href="--{URL}--/admin/help" class="user-modal-link"><img src="/static/img/menu/ajuda e suporte.png" alt=""> <span>Ajuda e Suporte</span></a></li>
                <li><a href="--{URL}--/exit" class="user-modal-link"><img src="/static/img/exit.png" alt=""> <span>Sair</span></a></li>
            </ul>
        </div>
    </div>
</section>