main {
    display: grid;
    place-items: center;
    margin-top: 5%;
}

.form {
    width: 90%;
    max-width: 400px;
    background-color: lightgray;
    border-radius: 10px;
}

.form-header {
    background-color: gray;
    padding: 20px 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.form-header span {
    font-weight: bold;
}

.form-body {
    padding: 0 30px 20px 30px;
    display: grid;
}

.form-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 30px 20px 30px;
}