<section id="modal">
    <div class="user-modal-background" id="modal-background-user" style="display: none" onclick="closeUserModal()"></div>
    <div class="user-modal" id="modal-user" style="display: none">
        <div class="user-modal-body">
            <ul class="user-modal-list">
                <li><a href="--{URL}--/profile" class="user-modal-link"><img src="/static/img/user dummy.png" alt=""> <span>Perfil</span></a></li>
                <li><a href="--{URL}--/user/help" class="user-modal-link"><img src="/static/img/menu/ajuda e suporte.png" alt=""> <span>Ajuda e Suporte</span></a></li>
                <li><a href="--{URL}--/exit" class="user-modal-link"><img src="/static/img/exit.png" alt=""> <span>Sair</span></a></li>
            </ul>
        </div>
    </div>

    <div class="modal-background" id="modal-background-queue" style="display: none" onclick="closeQueueModal()"></div>
    <div class="modal" id="modal-queue" style="display: none">
        <div class="modal-header">
            <button type="button" onclick="closeQueueModal()"><img src="/static/img/menu/close.png" alt=""></button>
        </div>

        <div class="modal-body">
            <div class="modal-body-title">
                REFEIÇÃO DO MOMENTO
            </div>

            <div class="modal-content">
                <span>N° DE PESSOAS NA FILA: --{quant_person}--</span>
                <br>
                <span>HORÁRIO INICIAL DA REFEIÇÃO: --{hour_initial}--</span>
            </div>
        </div>
    </div>

    <div class="modal-background" id="modal-background-join" style="display: --{show_modal}--" onclick="closeJoinModal()"></div>
    <div class="modal" id="modal-join" style="display: --{show_modal}--">
        <div class="modal-header">
            <button type="button" onclick="closeJoinModal()"><img src="/static/img/menu/close.png" alt=""></button>
        </div>

        <div class="modal-body">
            <div class="modal-body-title">
                LUGAR RESERVADO COM SUCESSO!
            </div>

            <div class="modal-content-joined">
                <span>SEU NÚMERO É:</span>
                <br>
                <div class="modal-content-card">--{position}--</div>
            </div>
        </div>
    </div>

    <div class="modal-background" id="modal-background-delete" style="display: none" onclick="closeDeleteModal()"></div>
    <div class="modal" id="modal-delete" style="display: none">
        <div class="modal-header">
            <button type="button" onclick="closeDeleteModal()"><img src="/static/img/menu/close.png" alt=""></button>
        </div>

        <div class="modal-body">
            <div class="modal-body-title">
                DESEJA SAIR DA FILA ATUAL?
            </div>
        </div>

        <form action="?" method="post" class="modal-footer">
            <input type="hidden" name="token" value="leave-queue">
            <button type="button" class="btn btn-green" onclick="closeDeleteModal()">NÃO</button>
            <button type="submit" class="btn btn-green">SIM</button>
        </div>
    </div>
</section>

<main class="container">
    <div class="content">
        <div class="modal-content-card card" onclick="openDeleteModal()">
            --{position}--
        </div>
        <div class="card" onclick="openQueueModal()">
            <h2>PRÓXIMA REFEIÇÃO</h2>
            <span>N° DE PESSOAS NA FILA</span>
            <strong>--{quant_person}--</strong>
        </div>
        <a href="--{URL}--/menu" class="card">
            CARDÁPIO DA REFEIÇÃO ATUAL
        </a>
    </div>
</main>